---
title: Pearl Nayker
desc: professional kity
image: /assets/kity@2x.png
image_alt: A kity. From far away, a lioness, with a frock of coral hair, sits, watching.
og_img: /assets/og.png
eleventyComputed:
	og_img_alt: image_alt
---
{% extends "default.njk" %}

{% block content %}
	<div class="font-serif flex flex-col gap-8">
		<h1 class="font-serif text-7xl">{{ title }}</h1>
		<h2 class="font-serif text-4xl italic">{{ desc }}</h2>
		<img class="mt-36 w-[75px] h-[54px]" src="{{ image }}" alt="{{ image_alt }}" title="{{ image_alt }}" />
		<div class="flex flex-row gap-8">
			{% include "landing/socials.njk" %}
		</div>
	</div>
		
{% endblock %}
