<!DOCTYPE html>

<html lang="en" class="h-full">

  <head>
		{% set ogImgUrl %}{{ metadata.ogImageDefault | url }}{% endset %}
		
		{% metagen 
			title=title,
			desc=desc,
			url=page.url,
			img=ogImgUrl,
			img_alt=og_img_alt,
			twitter_card_type="summary_large_image",
			twitter_handle=twitterHandle,
			twitter_title=twitter_title or title,
			twitter_desc=twitter_desc or desc,
			generator=eleventy.generator
		%}

		<link rel="preconnect" href="https://fonts.bunny.net">

		<link rel="preload" href="/style.css?v={% version %}" as="style"/>
		<link rel="preload" href="https://fonts.bunny.net/css?family=libre-baskerville:400,400i" as="style"/>

		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-400-italic.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-400-italic.woff" as="font" type="font/woff" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-ext-400-italic.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-ext-400-italic.woff" as="font" type="font/woff" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-400-normal.woff" as="font" type="font/woff" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-ext-400-normal.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="https://fonts.bunny.net/libre-baskerville/files/libre-baskerville-latin-ext-400-normal.woff" as="font" type="font/woff" crossorigin />

		<link rel="stylesheet" href="/style.css?v={% version %}"/>
		<link href="https://fonts.bunny.net/css?family=libre-baskerville:400,400i" rel="stylesheet"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
		<link rel="manifest" href="/assets/site.webmanifest">

    {% block head %}{% endblock %}
  </head>

  <body class="flex h-full bg-background text-foreground fill-foreground">
		<div class="flex-auto place-self-center mx-auto lg:max-w-2xl px-4">
			{% block content %}
				{{ content | safe }}
			{% endblock %}
		</div>
  </body>

</html>
